*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
#darebutton{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f1356d;
    color: white;
    border: none;
    cursor: pointer;
}